.wrap{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
}
.name{
    color: #E4D066;
    font-size: 2rem;
    margin-top: 10px;
}
.character-presentation{
    h3{
        text-align: center;
        text-shadow: 0px 0px 10px black;
    }
    img{
        border-radius: 20px;
        width: 300px;
        height: 300px;
        box-shadow: 0px 0px 5px black;
    }
    img:hover{
    box-shadow: 0px 0px 10px #E4D066;
    }
    margin: 60px auto;
    width: 300px;
    height: 300px;
    position: relative;
}